@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main{
        align-items: center;
    }
    #page-search-results .cards{
        grid-template-columns: 1fr;
    }
    main img{
        height: 300px;
    }
}
@media (min-width: 1700px){
    #page-home{
        background-position-x: 45vw;
    }
}
@media (min-height: 740px){
    #page-home{
        background-position-y: 28vh;
    }
}